#map {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* ===== корпус ===== */

.building {
    background: white;
    border-radius: var(--radius);
    border: 2px solid var(--border-dark);
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: var(--shadow-soft);
}

.building_title {
    font-weight: bold;
}

/* ===== комнаты ===== */

.room {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 2px;
    background: #fafafa;
}

.room_title {
    font-size: 13px;
    margin-bottom: 1px;
}

/* ===== койки ===== */

.beds {
    display: flex;
    flex-wrap: wrap;
}

.bed {
    width: 22px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #777;
    margin: 2px;
    position: relative;
    transition: 0.2s;
}

.bed:hover {
    transform: scale(1.1);
}

/* статусы */

.free {
    background: linear-gradient(#ffffff, #eaffea);
}

.busy {
    background: #b8f5c8;
}

.reserved {
    background: #ffd6b3;
}

/* верх/низ */

.upper {
    border-top: 3px solid var(--border-dark);
}

.lower {
    border-bottom: 3px solid var(--border-dark);
}

/* большая лево/право */
.bigger-left {
    border-bottom: 3px solid var(--border-dark);
    border-left: 2px solid var(--border-dark);
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}
.bigger-rigth {
    border-bottom: 3px solid var(--border-dark);
    border-right: 2px solid var(--border-dark);
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

/* пол */

.bedsex {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    width: 14px;
    height: 12px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 4px;
}

.boy {
    background: #7db8ff;
}

.girl {
    background: #ff9ec7;
}

/* overlay */

.bed-overlay {
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.705);
}
